Your task is to generate output artefacts for a given journey plan (defined by two indicies, a journey index and a plan index) for a commute or transit in London, England.

You have access to a set of tools that enable the creation of various types of artefacts.
